$white-gray:#F6F6F6;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background-color: pink;
}
body{
  font-family: sans-serif;
}
.sign__bar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: $white-gray;
  box-shadow: 0 0 7px #b4b4b4;
  align-items: center;
  p{
    span{
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }
  .input__wraps{
    label{
      input{
        padding: .6rem;
        border: none;
        outline: none;
      }
    }
    a{
      padding: .5rem;
      color: white;
      background-color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  .logo{
    width: 400px;
    margin-top: 80px;
    margin-bottom: 90px;
    img{
      width: 100%;
    }
  }
  .navbar{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      li{
        list-style: none;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
      }
      .nav__text{
        margin-left: 47px;
        cursor: pointer;
        &:hover{
          color: #87A0A4;
        }
      }
    }
  }
  .icons{
    display: flex;
    align-items: center;
    margin-left: 40px;
    .nav__icons{
      width: 20px;
      margin: 8px;
      svg{
        width: 100%;
        cursor: pointer;
        &:hover{
          fill: #87A0A4;
        }
      }
    }
  }
}
section{
  padding: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  main{
    width: 850px;
    .main__image_wrap{
      width: 850px;
      img{
        width: 100%;
      }
    }
    .description{
      margin-bottom: 75px;
      h1{
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 15px 0 10px 0;
      }
      .subtitle{
        color: gray;
        font-size: 0.8rem;
        margin-bottom: 10px;
      }
      .title{
        color: gray;
        margin-bottom: 40px;
      }
      a{
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid black;
        padding: 10px 15px;
        color: black;
        text-decoration: none;
        font-weight: 700;
        margin-bottom: 30px;
        &:hover{
          color: #87A0A4;
          border: 2px solid #87A0A4;
        }
      }
    }
    .line__image{
      width: 100%;
      height: 100px;
      background-image: url("img/Untitled-2.jpg") ;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      padding-right: 50px;
      margin-bottom: 60px;
      p{
        cursor: pointer;
        margin: 5px;
        color: #F6F6F6;
        font-weight: 700;
        span{
          color: blue;
        }
      }
    }
  }
  aside{
    width: 345px;
    .aside__image_wrap{
      width: 345px;
      margin-bottom: 30px;
      img{
        width: 100%;
      }
    }
    .aside__text__block{
      h1{
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 30px 0 30px 0;
      }
      p{
        margin-bottom: 30px;
        line-height: 26px;
        color: gray;
        span{
          font-family: serif;
          font-weight: 700;
          font-size: 30px;
          color: black;
        }
      }
    }
  }
  .aside__search_block{
    width: 100%;
    height: 62px;
    background-color: #e2e2e2;
    padding: 11px;
    label{
      display: flex;
      align-items: center;
      input{
        padding: 11px;
        width: 100%;
        border: none;
        outline: none;
      }
      a{
        padding: 10px;
        color: #F6F6F6;
        background-color: black;
      }
    }
  }
}
.main__wrap{
  padding-bottom: 30px;
}
footer{
  h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 15px 0 10px 0;
  }
  .footer__image_wrap{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    .footer__image{
      max-width: 410px;
      max-height: 550px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.popular{
  .title{
    h1{
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 50px 0 30px 0;
    }
  }
}
.news__wrap{
  .news__item{
    display: flex;
    gap: 30px;
    margin-bottom: 35px;
    height: 90px;
    .news__image{
      width: 90px;
      height: 90px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
  .news__text{
    h1{
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    p{
      color: #b4b4b4;
    }
  }
}